@import 'base';

// To create your own custom media query breakpoints, simply fill in your desired values in the ranges below (uncomment them, of course).

//$xs-range: (,);

//$sm-range: (,);

//$md-range: (,);

//$lg-range: (,);

$sm-down: '#{$screen} and (max-width: #{upper-bound($sm-range)})';
$md-down: '#{$screen} and (max-width: #{upper-bound($md-range)})';

$sm-up: '#{$screen} and (min-width: #{lower-bound($sm-range)})';
$md-up: '#{$screen} and (min-width: #{lower-bound($md-range)})';

$xs-only: '#{$screen} and (min-width: #{lower-bound($xs-range)}) and (max-width: #{upper-bound($xs-range)})';
$sm-only: '#{$screen} and (min-width: #{lower-bound($sm-range)}) and (max-width: #{upper-bound($sm-range)})';
$md-only: '#{$screen} and (min-width: #{lower-bound($md-range)}) and (max-width: #{upper-bound($md-range)})';
$lg-only: '#{$screen} and (min-width: #{lower-bound($lg-range)})';